$colors-violet-moderate: hsl(263, 55%, 52%);
$colors-grayishBlue-dark: hsl(217, 19%, 35%);
$colors-blackishBlue-dark: hsl(219, 29%, 14%);
$colors-gray-light: hsl(0, 0%, 81%);
$colors-grayishBlue-light: hsl(210, 46%, 95%);
$colors-dropShadow: hsla(217, 19%, 35%, 0.25);

$font-weight-500: 500;
$font-weight-600: 600;

$breakpoint-desktop: 1200px;
